{{#with data}}
<div class="nav">
    <div class="logo">
        <span class="badge">{{brandName}}</span>
    </div>

    <div class="header_nav_right">
        {{#each links}}
        <div class="header_link">
            <a href="{{url}}" class="nav_link">{{text}}</a>
        </div>
        {{/each}}
    </div>

</div>

<div class="header_under">

    {{#with ad}}
    <div class="header_description">
        <div class="logo_s">
            <span class="badge">Ad</span>
        </div>
        {{text}}:{{url}}
    </div>
    {{/with}}

    <div class="online">
        User online:{{userOnline}}
    </div>
</div>
{{/with}}